name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # ШАГ 1: Показываем все файлы, чтобы быть на 100% уверенными в путях
      - name: List files in the repository
        run: ls -R

      # ШАГ 2: Пытаемся запустить сервер и ЗАПИСЫВАЕМ ЕГО ВЫВОД В ФАЙЛ
      - name: Start SUT and log output
        # Команда '2>&1' перенаправляет все ошибки в тот же файл server.log
        run: java -jar artifacts/app-ibank.jar > server.log 2>&1 &

      # ШАГ 3: Даем серверу пару секунд, чтобы он успел запуститься или упасть и записать ошибку
      - name: Short wait
        run: sleep 5

      # ШАГ 4: ВЫВОДИМ ЛОГ СЕРВЕРА НА ЭКРАН. 
      - name: Display SUT logs
        run: cat server.log

      # ШАГ 5: Запускаем тесты. 
      - name: Build with Gradle
        run: ./gradlew test --info
